<div class="box">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 703.5 1029.05">
    <g id="Layer_2" data-name="Layer 2">
        <g id="Layer_1-2" data-name="Layer 1">
            <rect id="arm-1" class="arm" x="1.5" y="345.55" width="367.5" height="317" />
            <rect id="arm-2" class="arm" x="368.5" y="24.05" width="317" height="336" />
            <rect class="arm" x="368.5" y="340.05" width="317" height="320" />
            <rect id="arm-3" class="arm" x="368.5" y="658.05" width="317" height="336" />
            <line class="stroke" x1="383" y1="22.55" x2="383" y2="363.55" />
            <line class="stroke" x1="671.5" y1="26.05" x2="671.5" y2="993.55" />
            <line class="stroke" x1="387" y1="642.55" x2="387" y2="995.05" />
            <line class="stroke" x1="4" y1="363.55" x2="385" y2="363.55" />
            <line class="stroke" y1="643.55" x2="388" y2="643.55" />
            <line class="stroke-dashed" x1="527.5" y1="28.05" x2="527.5" y2="995.55" />
            <line class="stroke-dashed" x1="4" y1="500.8" x2="526.25" y2="500.8" />
            <text class="text-white" transform="translate(24.5 631.59)">
                Arm 1
            </text>
            <text class="text-white" transform="translate(398.5 53.59)">
                Arm 2
            </text>
            <text class="text-white" transform="translate(398.5 979.59)">
                Arm 3
            </text>
            <text class="text-black" transform="translate(18.5 336.09)">
                Slave 1
            </text>
            <text class="text-black" transform="translate(592.45 20.09)">
               Slave 2
            </text>
            <text class="text-black" transform="translate(587.45 1014.09)">
                Slave 3
            </text>
        </g>
    </g>
  </svg>
</div>

<app-sidebar class="sidebar"></app-sidebar>