.box{
    // width:70%;
    // height:70%;
    // position:absolute;
    // top:10%;
    // transform:translatey(-10%);
}
.junctionSequence{
  // display:flex;
  // display: -webkit-block;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:20px;
  justify-content: center;
}
.stage{
  border:2px solid black;
  background-image:url(assets/garden.png);
  background-color:green;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  overflow: hidden;
  svg{
    max-width: 100%;
    transform:scale(1.09);
  }
}
.stroke{
  stroke:#fff;
  stroke-width:10px;
}
.stage_name{
  position: absolute;
    text-align: center;
    bottom: 1px;
    left: 1px;
    color: white;
    font-family: sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
    background: #6d9338;
    padding:5px;
    font-size: 10pt;
}
.cls-1 {
    fill: #4d4d4d;
}

.cls-2 {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 3px;
    stroke-dasharray: 11.6 11.6;
}
.arm {
    transform-origin: 53%;
    transform: rotateZ(0deg);
  }

  /* object styles */
.object{
   
}
.road{
    z-index:0;
}
.amber,.green,.red{
    transition:0.3s;
}


/* Classes to make changes in animation */

.flash{
    /* to flash a particular object */
    animation:flash 1s ease-in-out infinite;
}
.uTurn{
    animation:uTurn 3s ease-in infinite;
    transform-origin:5%;
    // -webkit-transform-origin: 50% 50%;
}
.walking1{
    animation: walking1 5s infinite;
}
.walking2{
    animation: walking2 5s infinite;
}

// class to be applied for 2 arm junction
.arms-2{
    .straight_car{
        animation:moveStraight 3s ease-in infinite;
    }

    .left_car{
        display:none;
    }
    .right_car{
        display:none;
    }
}
// class to be applied for 4 & 3 arm junction
.arms-4,.arms-3{
    .straight_car{
        animation:moveStraight 3s ease-in infinite;
    }

    .left_car{
        animation:moveLeft 4s  ease infinite;
        transform-origin:left;
    }
    .right_car{
        animation:moveRight 4s  ease infinite;
        transform-origin:left;
    }
}

// class to be applied for 5 arm junction
.arms-5{
    .straight_car{
        animation:moveStraight5arm 3s ease-in infinite;
        transform-origin:left;
    }

    .left_car{
        animation:moveLeft5arm 4s ease-in-out infinite;
        transform-origin:left;
    }
    .right_car{
        animation:moveRight5arm 4s ease-in-out infinite;
        transform-origin:left;
    }
}

// class to be applied for 6 arm junction
.arms-6{
    .straight_car{
        animation:moveStraight6arm 3s ease-in infinite;
        transform-origin:left;
    }

    .left_car{
        animation:moveLeft6arm 4s ease-in-out infinite;
        transform-origin:left;
    }
    .right_car{
        animation:moveRight6arm 4s ease-in-out infinite;
        transform-origin:left;
    }
}

// class to be applied for 6 arm junction
.arms-7{
    .straight_car{
        animation:moveStraight7arm 3s ease-in infinite;
        transform-origin:left;
    }

    .left_car{
        animation:moveLeft7arm 4s ease-in-out infinite;
        transform-origin:left;
    }
    .right_car{
        animation:moveRight7arm 4s ease-in-out infinite;
        transform-origin:left;
    }
}   

// class to be applied for 8 arm junction
.arms-8{
    .straight_car{
        animation:moveStraight8arm 3s ease-in infinite;
        transform-origin:left;
    }

    .left_car{
        animation:moveLeft8arm 4s ease-in-out infinite;
        transform-origin:left;
    }
    .right_car{
        animation:moveRight8arm 4s ease-in-out infinite;
        transform-origin:left;
    }
}
/* end of class animations */



  /* animations */

//   arm based animations
  @keyframes moveStraight {
      0%{

      }
      40%{
        transform:translate(35%)
      }
      70%{
        transform:translate(50%)
      }
      to{
        transform:translate(100%)
      }
  }

  @keyframes moveLeft{
      0%{
        transform:translate(0,0) rotate(0)
      }
      40%{
        transform:translate(38%,0) rotate(0)
      }
      70%{
        transform:translate(52%,-10%) rotate(-90deg)
      }
      100%{
        transform:translate(52%,-50%) rotate(-90deg)
      }
  }
  @keyframes moveRight{
    0%{
        transform:translate(0,0) rotate(0)
      }
      40%{
        transform:translate(30%,0) rotate(0)
      }
      70%{
        transform:translate(55%,10%) rotate(90deg)
      }
      100%{
        transform:translate(55%,50%) rotate(90deg)
      }
  }

  //5 arm animation
  @keyframes moveStraight5arm{
    0%{

    }
    40%{
      transform:translate(35%) rotate(0deg)
    }
    70%{
      transform:translate(60%,-10%) rotate(-32deg)
    }
    to{
      transform:translate(100%,-40%) rotate(-32deg)
    }
}
  @keyframes moveLeft5arm{
    0%{
      transform:translate(0,0) rotate(0)
    }
    40%{
      transform:translate(38%,0) rotate(0)
    }
    70%{
      transform:translate(50%,-10%) rotate(-100deg)
    }
    100%{
      transform:translate(40%,-50%) rotate(-100deg)
    }
}
@keyframes moveRight5arm{
    0%{
        transform:translate(0,0) rotate(0)
      }
      40%{
        transform:translate(30%,0) rotate(0)
      }
      70%{
        transform:translate(50%,10%) rotate(110deg)
      }
      100%{
        transform:translate(43%,50%) rotate(110deg)
      }
  }

    //6 arm animation
    @keyframes moveStraight6arm{
        0%{

        }
        40%{
          transform:translate(35%)
        }
        70%{
          transform:translate(50%)
        }
        to{
          transform:translate(100%)
        }
    }
      @keyframes moveLeft6arm{
        0%{
            transform:translate(0,0) rotate(0)
          }
          40%{
            transform:translate(38%,0) rotate(0)
          }
          70%{
            transform:translate(50%,-10%) rotate(-120deg)
          }
          100%{
            transform:translate(25%,-50%) rotate(-120deg)
          }
    }
    @keyframes moveRight6arm{
        0%{
            transform:translate(0,0) rotate(0)
          }
          40%{
            transform:translate(32%,0) rotate(0)
          }
          70%{
            transform:translate(48%,15%) rotate(120deg)
          }
          100%{
            transform:translate(35%,40%) rotate(120deg)
          }
      }

    //7 arm animation
    @keyframes moveStraight7arm{
        0%{

        }
        40%{
          transform:translate(35%) rotate(0deg)
        }
        70%{
          transform:translate(60%,-5%) rotate(-32deg)
        }
        to{
          transform:translate(100%,-30%) rotate(-32deg)
        }
    }
      @keyframes moveLeft7arm{
        0%{
            transform:translate(0,0) rotate(0)
          }
          40%{
            transform:translate(40%,0) rotate(0)
          }
          70%{
            transform:translate(45%,-10%) rotate(-130deg)
          }
          100%{
            transform:translate(20%,-50%) rotate(-130deg)
          }
    }
    @keyframes moveRight7arm{
        0%{
            transform:translate(0,0) rotate(0)
          }
          40%{
            transform:translate(32%,0) rotate(0)
          }
          70%{
            transform:translate(50%,10%) rotate(130deg)
          }
          100%{
            transform:translate(20%,50%) rotate(130deg)
          }
      }


    //8 arm animation
    @keyframes moveStraight8arm{
        0%{

        }
        40%{
          transform:translate(35%)
        }
        70%{
          transform:translate(50%)
        }
        to{
          transform:translate(100%)
        }
    }
      @keyframes moveLeft8arm{
        0%{
            transform:translate(0,0) rotate(0)
          }
          40%{
            transform:translate(38%,0) rotate(0)
          }
          70%{
            transform:translate(52%,-10%) rotate(-90deg)
          }
          100%{
            transform:translate(52%,-50%) rotate(-90deg)
          }
    }
    @keyframes moveRight8arm{
        0%{
            transform:translate(0,0) rotate(0)
          }
          40%{
            transform:translate(30%,0) rotate(0)
          }
          70%{
            transform:translate(55%,10%) rotate(90deg)
          }
          100%{
            transform:translate(55%,50%) rotate(90deg)
          }
      }
//   common animations
  @keyframes uTurn{
    0%{
        transform:translate(0,0) rotate(0)
      }
      45%{
        transform:translate(30%,0%) rotate(0)
      }
    //   55%{
    //     transform:translate(25%,-5%) rotate(0)
    //   }
      70%{
        transform:translate(30%,0%) rotate(180deg)
      }

      100%{
        transform:translate(0%,0%) rotate(180deg)
      }
  }

  @keyframes walking2{
    100%{
        transform:translateY(-12%)
    }
  }

  @keyframes walking1{
    100%{
        transform:translatey(12%)
    }
  }

  @keyframes flash{
      0%{
          opacity:0
      }
      50%{
          opacity:1
      }
      100%{
          opacity:0
      }
  }